
@{
    ViewData["Title"] = "Marcas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Marca</li>
</ol>

<!-- CARD -->
<div class="card">

    <div class="card-header">
        <i class="fas fa-bookmark me-1"></i>Lista de Marcas
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="AbrirModel(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="table table-bordered display" style="width:100%">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Crear Marca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtId" type="hidden" value="0">

                <div class="row g-1">
                    <div class="mb-3 col-sm-6">
                        <label for="txtDescripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="txtDescripcion" autocomplete="off">
                    </div>

                    <div class="mb-3 col-sm-6">
                        <label for="cboActivo" class="form-label">Activo</label>
                        <select id="cboActivo" class="form-select">
                            <option value="1">SI</option>
                            <option value="0">NO</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>

        </div>
    </div>
</div>


@section scripts
{
    <script>

        var tabladata;
        var selectRow;

        // --------------------------------------- CREACION DE DATATABLE DE LISTAR MARCAS
        tabladata = $("#tabla").DataTable({
            "ajax": {
                url: '@Url.Action("ListarMarcas", "Mantenimiento")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            },
            "columns":
            [
                { "data": "Descripcion" },
                {
                    "data": "Activo", "render": function (value) {
                        if (value) {
                            return '<span class="badge bg-success">SI</span>'
                        } else {
                            return '<span class="badge bg-danger">NO</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px",
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
        });

        // --------------------------------------- MODAL PARA MOSTRAR INFORMACION
        function AbrirModel(json) 
        {
            // se mostrara todo vacio si el json es null
            $("#txtId").val(0);
            $("#txtDescripcion").val("");
            $("#cboActivo").val(1);

            $("#mensajeError").hide();

            if (json != null) // si el json tiene datos se mostraran el las casillas
            {
                $("#txtId").val(json.IdMarca);
                $("#txtDescripcion").val(json.Descripcion);
                $("#cboActivo").val(json.Activo == true ? 1 : 0);
            }

            $("#FormModal").modal("show");
        }

        // --------------------------------------- GUARDAR DATOS MARCA
        function Guardar() {
            // creo una marca con los datos pasados
            var Marca = {
                IdMarca: $("#txtId").val(),
                Descripcion: $("#txtDescripcion").val(),
                Activo: $("#cboActivo").val() == 1 ? true : false,
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarMarca", "Mantenimiento")',
                type: "POST",
                data: Marca, // LE PASO LOS DATOS AL CONTROLADOR DE MANTENIMIENTO 
                dataType: "json",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    if (Marca.IdMarca == 0) // CREACION DE MARCA
                    {
                        if (data.resultado != 0) {
                            Marca.IdMarca = data.resultado;
                            tabladata.row.add(Marca).draw(false);
                            $("#FormModal").modal("hide");
                        }
                        else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                    else //  EDITAR MARCA
                    {
                        if (data.resultado != false) {
                            tabladata.row(selectRow).data(Marca).draw(false);
                            selectRow = null;
                            $("#FormModal").modal("hide");
                        }
                        else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Loading...",
                        size: 14
                    });
                }
            });

        }

        // --------------------------------------- SELECCION DE MARCA PARA EDITAR

        $("#tabla tbody").on("click", '.btn-editar', function () 
        {
            // selecciono el la fila que quiero obtener
            selectRow = $(this).closest("tr");
            var data = tabladata.row(selectRow).data();
            // muestro en el modal la informacion de la fila
            AbrirModel(data); 
        })

        // --------------------------------------- SELECCION DE MARCA PARA ELIMINAR
        $("#tabla tbody").on("click", '.btn-eliminar', function () 
        {
            // selecciono el la fila que quiero obtener
            selectRow = $(this).closest("tr");
            var data = tabladata.row(selectRow).data();

            // es una ventana que nos permite verificar si queremos eliminar, y nos muestra un animacion
            swal({
                title: "Estas Seguro?",
                text: "Desea eliminar esta Marca?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Eliminar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            },
            function ()
            {
                // ELIMINO LA MARCA POR JQUERY AJAX 
                jQuery.ajax({
                    url: '@Url.Action("EliminarMarca", "Mantenimiento")',
                    type: "DELETE",
                    data: data,
                    dataType: "json",
                    success: function (data)
                    {
                        if (data.resultado)
                        {
                            swal("Marca Eliminada!", "tu Marca ha sido eliminada.", "success");
                            tabladata.row(selectRow).remove().draw(false);
                        }
                        else 
                        {
                            swal("No se pudo eliminar!", data.mensaje, "error");
                        }
                    },
                    error: function (error) 
                    {
                        $("#mensajeError").text("Error Ajax");
                        $("#mensajeError").show();
                    }
                });
            });
        })

      
    </script>
}
