@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Productos","Mantenimiento")">Productos</a></li>
    <li class="breadcrumb-item active">Variantes</li>
</ol>

<div class="card">

    <div class="card-header">
        <i class="fas fa-users me-1"></i>Lista Variantes de Productos
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="AbrirModel(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="table table-bordered display" style="width:100%">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Gramos</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>

@section scripts
{
    <script>

        var tabladata;
        var selectRow;

        tabladata = $("#tabla").DataTable({
            "ajax": {
                url: '@Url.Action("ListarVarianteProducto", "Mantenimiento")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            },
            "columns":
                [
                    { "data": "Producto" },
                    { "data": "Gramos" },
                    { "data": "Precio" },
                    { "data": "Stock" },
                    {
                        "data": "Activo", "width": "30px", "render": function (value) {
                            if (value) {
                                return '<span class="badge bg-success">SI</span>'
                            } else {
                                return '<span class="badge bg-danger">NO</span>'
                            }
                        }
                    },
                    {
                        "defaultContent":
                            '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "80px",
                    }
                ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }
        });

    </script>
}
